{{#each post}}


<d-flex class="d-flex align-items-center p-2">

  <div class="card ">
    <p class="card-header">
      <img src="{{profilePic}}" alt="user profile picture" style="height: 25px;" class="rounded-circle">
      <strong>{{username}}</strong>
    </p>
    <img class="card-img-top" src="{{photo}}" alt="Card image cap">
    <div class="card-block">


{{!-- Comment, Like , and Save Buttons --}}
      <div class="d-flex flex-row my-flex-container">
      
          <i class="fa fa-heart-o p-2 order-1" aria-hidden="true"></i>
     
        
          <i class="fa fa-comment-o p-2 order-2" aria-hidden="true"></i>
       
       
          <i class="fa fa-bookmark-o p-2 order-3 ml-auto" aria-hidden="true"></i>
       
      </div>

    <p>19 Likes</p>

      <p><strong>{{username}}</strong> - {{caption}}</p>

    </div>
  </div>
</d-flex>



{{/each}}