{{#each post}}
<div class="container">

  <div class="row">
    <div class="card col-md-5 col-md-offset-3">
      <p class="card-header">
        <img src="{{profilePic}}" alt="user profile picture" style="height: 25px;">
        <strong>{{username}}</strong>
      </p>
      <img class="card-img-top" src="{{photo}}" alt="Card image cap">
      <div class="card-block">

        <div class="col-md-4">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        </div>
        <div class="col-md-4">
          <i class="fa fa-comment-o" aria-hidden="true"></i>
        </div>
        <div class="col-md-4">
          <i class="fa fa-bookmark-o" aria-hidden="true"></i>
        </div>
     
          <p>{{username}} - {{caption}}</p>
       
      </div>
    </div>
  </div>

</div>

{{/each}}