<div class="container mgTp-50px">
    <div class="row">
        <div class="col-md-3">
            {{#user}} {{!--
            <p>{{id}}</p> --}}

            <img src="{{profilePic}}" alt="" class="rounded-circle float_right img-fluid" style="height:152px">

        </div>
        <!-- Button trigger modal -->

        <div class="col-md-9 mgTp-60px">

            <div class="container width3 float_left">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="h1font1">{{username}}</h1>
                    </div>
                    {{/user}}
                    <div class="col-md-6">
                        {{#if follower}}

                        <form action="/following/{{follower_id}}" method="post">
                            <button type="submit" class="btn btn-success">
                                Follow
                            </button>
                        </form>

                        {{else}}
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                            Create a Post
                        </button>
                        {{/if}}
                    </div>
                </div>

                <div class="row mgTp-40px">
                    <div class="col-md-4"> <strong>4</strong> posts</div>
                     <div class="col-md-4"><strong>19</strong> followers</div>
                      <div class="col-md-4"><strong>800</strong> following</div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>


<div class="container mgTp-100px">
    <div class="row">

        {{#each user_posts}}
        <div class="col-md-4 col-4 mgBt-28px">
            <img src="{{photo}}" class="height-293px img-fluid"> </div>

        {{/each}}
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Create Post</h4>
            </div>
            <form action="/addPost" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Link to image</label>
                        <input type="text" name="photo" class="form-control" placeholder="Upload a Image">
                    </div>
                    <div class="form-group">
                        <label>Add a Caption</label>
                        <textarea class="form-control" name="caption" placeholder="Page Body"></textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
            </form>
            </div>
        </div>
    </div>